* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}
.container {
	max-width: 1152px;
	margin: 0 auto;
}

.header_container {

	height: 70px;
	background-color: #6B6B6B;
}

.head_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	height: 100%;
}



.menu ul {
	display: flex;
	padding: 0px 20px;
	justify-content: center;
	align-items: center;
	gap: 40px;
	list-style: none;
}


.menu li a {
    text-decoration: none;
    color: #FFF;
}

/* main block */

.main1 {

	background: #EBEBEB;
}

.main1_information1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 67.1px 0px;
}
.main1_text1 {
margin-right: 128px;
}

.main1_text1 h1 {
	color: #333;
   margin-bottom: 11px;

}

.main1_text1 p {
		width: 576px;
		color: #333333;
		margin-bottom: 30px;
	
}

.main1_text1 input {
	width: 357px;
    height: 50px;
    padding-left: 25px;
}

.main1_image1 {

	display: flex;
	flex-direction: column;
	
}

.main1_image1 p {

	text-align: center;
	width: 320px;
	color: rgba(0, 0, 0, 0.50);
	font-size: 13px;
}

.brands {
	height: 152px;
    background: #D3D3D3;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.brands_block img{
	padding-right: 63px;
}

.brands_block img:last-child{
	padding-right: 0;
}


.main3 {
	background-color: #FFFFFF;
}

.main3_information {
	display: flex;
	padding-top: 50px;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 108px;
}

.main3_text1 p {
	width: 509px;
}

.main3_text1 h2 {
	margin-bottom: 14px;
}

.main3_text1 {
	margin-right: 140px;
}

.main3_text2 h2 {
	margin-top: 68.75px;
	margin-bottom: 14px;
}

.main3_text2 img {
	margin-bottom: -50px;
}

.main4 {
	background: #EBEBEB;
}

.main4_text1 {
	display: flex;
	text-align: center;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	padding: 89px 0 50px 0;
}

.main4_text1 img {
	width: 240px;
	height: 128px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column; 
	justify-content: center;
}
.main4_text2 {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.card1,
.card2,
.card3 {
	width: 364px;
    height: 316px;
    flex-shrink: 0;
	border-radius: 5px;
	background: #FFF;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.20); 
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center; 
}

.title {
	padding: 30px 0;
}

.card1 img,
.card2 img,
.card3 img {
	margin-bottom: 40px;
}

.text1 {
	padding: 0 50px 31px 50px;
	text-align: center;
}

.text2 {
	padding: 0 50px 31px 50px;
	text-align: center;
}

.text3 {
	padding: 0 50px 31px 50px;
	text-align: center;
}

.grey {
	color: #777;
	}

	span {
		color: white;
		background-color: royalblue;
	}

#special_italic_text {
		color: #333;
		font-style: italic;
		font-weight: 300;
		background: none;
		padding-left: 2px;	
	}
.main4_text1 h2 {
	color: #333;
	font-size: 31px;
	font-weight: 400;
	margin-bottom: 11px;
}

.main5 h2 {
	color: #333;
	font-size: 32px;
	font-weight: 400;
	padding: 99px 0 41px 0;
}

.main5_information {
	display: flex;
	width: 1152px;
}
.margin_padding,
.add_elements,
.responsive_design,
.states {
	width: 282px;
}

.margin_padding p,
.add_elements p,
.responsive_design p,
.states p{
	margin: 13px 20px 7px 20px;
}

.margin_padding img,
.add_elements img,
.responsive_design img,
.states img {
	
	border: 1px solid black;
}

.explanation {
	color: #333;
	font-size: 18px;
	}


