* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}
.container {
	max-width: 1152px;
	margin: 0 auto;
}

.header_container {

	height: 70px;
	background-color: #6B6B6B;
}

.head_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	height: 100%;
}



.menu ul {
	display: flex;
	padding: 0px 20px;
	justify-content: center;
	align-items: center;
	gap: 40px;
	list-style: none;
}


.menu li a {
    text-decoration: none;
    color: #FFF;
}

/* main block */

.main1 {

	background: #EBEBEB;
}

.main1_information1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 67.1px 0px;
}
.main1_text1 {
margin-right: 128px;
}

.main1_text1 h1 {
	color: #333;
   margin-bottom: 11px;

}

.main1_text1 p {
		width: 576px;
		color: #333333;
		margin-bottom: 30px;
	
}

.main1_text1 input {
	width: 357px;
    height: 50px;
    padding-left: 25px;
}

.main1_image1 {

	display: flex;
	flex-direction: column;
	
}

.main1_image1 p {

	text-align: center;
	width: 320px;
	color: rgba(0, 0, 0, 0.50);
	font-size: 13px;
}

.brands {
	height: 152px;
    background: #D3D3D3;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.brands_block img{
	padding-right: 63px;
}

.brands_block img:last-child{
	padding-right: 0;
}


.main3 {
	background-color: #FFFFFF;
}

.main3_information {
	display: flex;
	padding-top: 50px;
	flex-direction: row;
	justify-content: space-between;
}

.main3_text1 p {
	width: 509px;
}

.main3_text1 h2 {
	margin-bottom: 14px;
}

.main3_text1 {
	margin-right: 140px;
}

.main3_text2 h2 {
	margin-top: 68.75px;
	margin-bottom: 14px;
}

.main3_text2 img {
	margin-bottom: -50px;
}


